@{
    ViewData["Title"] = "Ozzy application";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <ul>
            <li><a href="https://github.com/sashaozz/Ozzy/blob/master/docs/GettingStarted.md" target="_blank">How to create simple application with Ozzy</a></li>
            <li><a href="http://localhost:5000/LoanApplications"> Loan Applicatons Service </li>      
        </ul>
    </div>
    <div class="col-md-3">
        <h2>BackgroundTasks</h2>
        <ul>
            <li><a href="">PeriodicAction</a></li>
            <li><a href="">WorkManager</a></li>
            <li><a href="">SingleInstanceProcess</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Backoffice</h2>

    </div>
    <div class="col-md-3">
        <h2>Domain events</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Sagas</h2>
    </div>
    <div class="col-md-3">
        <h2>Queues</h2>
    </div>
    <div class="col-md-3">
        <h2>Tasks</h2>
    </div>
    <div class="col-md-3">
        <h2>Feature flags</h2>
    </div>
</div>
